@charset "utf-8";
/* CSS Document */

/******************************/
/*******common css*************/

 
/******* fonts *********/
@import url('../fonts/stylesheet_poppins.css'); 
/******* fonts *********/


body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fafafa;
    height: 100vh;
}

.gray{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.zoom{
   transform: scale(1.07);
}

.top_logo{
    height: 50px;
}

.main_height{
    height: 100%;
}

  main{
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
  }
  
  .aside-section {
    top: 0;
    bottom: 0;
    position: absolute;
  }
  
  .aside-left {
    display: none;
    width: 40%;
    left: 0;
    background-color: #ff5964;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }
  
  .aside-right {
    width: 100%;
    right: 0;
    background-color: #38618c;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  
  .aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
  }
  
  .aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .aside-list li {
    margin-bottom: 20px;
  }
  
  .aside-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #ff5964;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
  }
  
  .aside-anchor::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    left: 0;
    height: 3px;
    z-index: 1;
    width: 50%;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  
  .aside-anchor:hover:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .aside-anchor {
    padding-bottom: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    font-weight: 500;
  }
  
  .toggle_menu input[type="checkbox"] {
    display: none;
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ aside .aside-left {
    transform: translateY(0%);
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ aside .aside-right {
    transform: translateX(0%);
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ label .bar {
    background-color: #fff;
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-8px) rotateZ(-45deg);
    -moz-transform: translateY(-8px) rotateZ(-45deg);
    -ms-transform: translateY(-8px) rotateZ(-45deg);
    -o-transform: translateY(-8px) rotateZ(-45deg);
    transform: translateY(-8px) rotateZ(-45deg);
  }
  
  .toggle_menu input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .toggle_menu .middle {
    margin: 0 auto;
  }
  
  .toggle_menu label {
    position: relative;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 999999999;
    top: 3px;
    }
  
  .toggle_menu .bar {
    display: block;
    background-color: #38618c;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
  }

  .main_slider .carousel-item{
    height: 100vh;
  }
  
  h1 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 30px;
  }
  
  h1 span {
    font-size: 20px;
    display: block;
  }
  
  p {
    font-size: 30px;
  }
  
  .button {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 7px 50px;
    border: 2px solid white;
  }
  
  
  


/*******common css*************/
/******************************/


/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*inner_pages styles*/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/



/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*inner_pages styles*/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

/*****************************/
/*********footer**************/



/*****************************/
/*********footer**************/


/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/

.scroll-top-element{
    background-color: #0A2647 !important;
    right: 15px !important;
    z-index: 999999999 !important;
    color: #ffffff !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.scroll-top-element:hover{
    color: #ffffff !important;
    background-color: #333333 !important;
}

/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/



/*========================================================================*/
/*========================================================================*/
/*=====================Solution by TEKGEEKS (pvt) LTD=====================*/
/*=========DESIGN & FRONTEND DEVELOPMENT - G.D.RAVEESHA DEEMANTHI=========*/
/*========================================================================*/
/*========================================================================*/